<div class="alert alert-danger reset_password_prompt">
    Please change your password at the earliest. 
    <%= button_to "Reset Password Now", reset_password_users_path, class: "btn-sm btn-primary" %>
</div>