<%= render "/layouts/alerts" %>

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">External Users</h1>
    <%= link_to "New External User" , new_client_path, {class: "btn btn-primary" } %>
  </div>

  <div class="table-responsive" data-controller="datatable">

    <table id="clients" class="table table-bordered dataTable">
      <thead>
        <tr>
          <th>
            First Name
          </th>
          <th>
            Last Name
          </th>
          <th>
            Email
          </th>
          <th>
            Phone
          </th>
          <th>
            Type
          </th>
          
          <th>
            User
          </th>
          <th>
            Company
          </th>

          <th>
          </th>
        </tr>
      </thead>

      <tbody>
        <% @clients.each do |client| %>
          <%= render client %>
        <% end %>
      </tbody>
    </table>

  </div>