<form id="display_type_form" class="inline_form" action="/projects" method="get" data-turbo="true">
    
    <a href="" data-action="project#setDisplayType" data-display="grid">
        <i class="fas fa-th-large fa-xl" data-display="grid"></i>
    </a>

    <a href="" data-action="project#setDisplayType" data-display="list">
        <i class="fas fa-list fa-xl" data-display="list"></i>
    </a>

    <input type="submit" name="commit" value="Submit" hidden="hidden" id="submit" data-disable-with="Submit">

</form>