<%= render "/layouts/alerts" %>

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Projects</h1>
    <%= link_to "New Project" , new_project_path, {class: "btn btn-primary" } %>
  </div>

  <div class="table-responsive" data-controller="datatable">

    <table id="projects" class="table table-bordered dataTable">

      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Start Date
          </th>
          <th>
            End Date
          </th>
          <th>
            Cost Estimate
          </th>
          <th>
            Percentage Completed
          </th>
          <th>
            Status
          </th>
          <th>
            Company
          </th>

          <th>
          </th>
        </tr>
      </thead>

      <tbody>
        <% @projects.each do |project| %>
          <%= render project %>
        <% end %>
      </tbody>
    </table>

  </div>