
<tr id="<%= dom_id company %>">
    
    <td>
        <%= link_to company.name, company %>
    </td>  
    <td>
        <%= company.category %>
    </td>  
    <td>
        <%= company.company_type %>
    </td>  
    <td>
    </td>  

</tr>
