<%= render "/layouts/alerts" %>

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Payments</h1>

  </div>

  <div class="table-responsive" data-controller="datatable">

  <table id="payments" class="table table-bordered dataTable jqDataTable">

    <thead>
      <tr>
        <th>
          Company
        </th>
        <th>
          Amount
        </th>
        <th>
          Plan
        </th>
        <th>
          Discount
        </th>
        <th>
          Reference Number
        </th>
        <th>
          User
        </th>

        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @payments.each do |payment| %>
        <%= render payment %>
      <% end %>
    </tbody>
  </table>

  </div>