<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Steps</h1>
    <%= link_to "New Step" , new_step_path("step[phase_id]": @phase.id, "step[project_id]": @phase.project_id), 
                    {class: "btn btn-primary" } if @phase %> 
</div>

<% if @phase %>
    <% step = Step.new(phase_id: @phase.id, company_id: @phase.company_id,
                    project_id: @phase.project_id, start_date: Time.zone.today, days: 10)%>

    <% if policy(step).create? %>
        <div class="quick_entry">
            <%= render "/steps/quick_entry", step: step %>
        </div>
    <% end %>
<% end %>

<% show_project_phase ||= params[:show_project_phase] %>
<div class="table-responsive">

    <table id="steps" class="table table-bordered dataTable jqDataTable">
        <thead>
            <tr>
                <% if show_project_phase == "Yes" %>
                <th>
                    Project
                </th>
                <th>
                    Phase
                </th>    
                <% end %>
                <th>
                    Step
                </th>
                <th>
                    Completed
                </th>
                <th>
                    Approved
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                <th>
                    Days
                </th>
                <th>
                    Status
                </th>
                <th>
                    Assigned
                </th>
                <th>
                    Unlocked
                </th>

                <th>
                </th>
            </tr>
        </thead>
        <tbody id="steps_tbody">
            <% steps.each do |step| %>
                <%= render step, show_project_phase: show_project_phase %>
            <% end %>
        </tbody>
    </table>

</div>