<%= form_with(model: nil, method: :get, action: "", id: "project_status_form") do |form| %>

  <div class="form-group" data-controller="step">
    <% selected = params[:status].present? ? params[:status] : cookies[:project_status] %>
    <%= form.select :status, Project::STATUS, {selected: selected, include_blank: "Any Status"}, 
        { id: "project_status", class: "form-control", 
        data: { action: "change->project#setStatus", toggle: "tooltip", title: "Choose Project Status" } } %>
  </div>

  
  <%= form.submit "Submit", {hidden: true, id: "submit"}%>


<% end %>