<%= form_with(model: nil, method: :get, action: "", id: "step_completed_form") do |form| %>

  <div class="form-group" data-controller="step">
    <% selected = params[:completed].present? ? params[:completed] : cookies[:step_completed] %>
    <%= form.select :completed, [["Completed", "Yes"], ["Not Completed", "No"]], {selected: selected, include_blank: "Any Status"}, 
        { id: "step_completed", class: "form-control", 
        data: { action: "change->step#setStatus", toggle: "tooltip", title: "Choose Step Status" } } %>
  </div>

  
  <%= form.submit "Submit", {hidden: true, id: "submit"}%>


<% end %>