
div.field,
div.actions {
  margin-bottom: 10px; 
  margin-top: 10px;
}

.pagination-sm {
  .page-link {
    font-size: 0.75rem !important;
  }
}

.print_header {
  width: 300px;
}

.rounded-square {
  border-radius: 10% !important;
  height: 5rem;
  width: 5rem;
  margin-left: -5px;  
} 

#alert {
  color: #df4e4e; 
  text-align: center;
  display: table;
  margin: 0 auto;  
}

.alert-danger {
  ul {
    padding-inline-start: 20px;
  }
}

.field_with_errors {
  padding: 1px;
  color: rgb(233, 105, 105);
  input, textarea, select {
    border: 1px solid rgb(233, 105, 105);
  }
  // display: table; 
}

label {
  display: block; }


input[type="file" i] {
  height: calc(1.5em + .75rem + 7px);
}


.associated_entity {
  margin-top: 30px;
  h1 {
    font-size: 1.3rem !important;
  }
}

h1 {
  font-size: 1.5rem !important;
}

.alert > h2 {
  font-size: 1.0rem;
}


.navigation__link {
  font-size: 1rem;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #d1d3f5 !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #d1d3f5 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #d1d3f5 !important;
}

.form-checkbox {
  width: 5% !important;
}

.btn {
  margin: 1px;
}

.handle {
  cursor: grab;
}

.btn-group {
  .dropdown-menu.show {
    background-color: #1cc88a;
  }
  .dropdown-item {
    color: white !important;
  }

  .dropdown-item:focus, .dropdown-item:hover {
    font-weight: bold;
    background-color: #2ca87b !important;
  }
}

.badge {
  color: white !important;
  padding: .5em .7em !important;
  a {
    color: white !important;
    text-decoration: none !important;
  }
}

.task-done-checkbox {
  width: 25px !important;
}

.document_video {
  max-height: 600px;
  margin: auto;
  width: 100%;
}

video { float: none; }


.nav-link.active {
  background-color: #4e73df !important;
  color: white !important;
  font-weight: bold;
}

.nav-tabs .nav-link {
  margin-right: 3px;
  background-color:lighten($color: cornflowerblue, $amount: 30);
  color: darkgray;
}

.table_divider {
  background-color: lightgray;
}

.toast-header {
  background-color: #4e73df !important;
  color: white !important;
}

.toast {
  left: 50%;
  position: fixed;
  transform: translate(-50%, 0px);
  z-index: 9999;
  min-width: 300px !important;
}

#toasts {
  width: 100%;
}

.container-fluid {
  padding-bottom: 50px !important;
}

div.dataTables_wrapper div.dataTables_filter input {
  min-width: 300px;
  margin-right: 10px;
  border-radius: 0.4rem; 
}

.turbo-progress-bar {
  height: 20px;  
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image: linear-gradient(
    -45deg, 
    rgba(255, 255, 255, .2) 25%, 
    transparent 25%, 
    transparent 50%, 
    rgba(255, 255, 255, .2) 50%, 
    rgba(255, 255, 255, .2) 75%, 
    transparent 75%, 
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
  
}

div.divider {
  margin: 30px 0px;
  border: 3px solid white;
}

form {
  div.form-divider {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px;
    background-color:  lighten($color: #4e73df, $amount: 5);
    color: white;
    font-size: 1.1em;
    font-weight: 600;
  }  
}

.large_rich_text_area {
  min-height: 200px;
}


#currency_units_form, #scenarios_form {
  display: inline !important;

  .form-group, .form-control {
    display: inline;
    width:auto;
  }
}

.nested_holdings {
  margin: 5px 40px;
  th, td {
    font-size: 0.9em;
  }

  table {
    width: auto;
    min-width: 50%;
  }
}


.highcharts-label, .highcharts-text-outline {
    text {
      font-weight: normal !important;
    }
}


.info {
  .button_to {
    display: inline;
  }
}

.reset_password_prompt {
  .button_to {
    display: inline;
  }
}

.terms_modal {
  max-width: 90% !important;
  .modal-body {
    overflow-y: scroll;
    max-height: 75vh;
  }
}

@media all and (max-width: 479px) {

  .quick_entry {
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
  }    

}

.quick_entry {

  display: block;
  text-align: center;
  .alert {
    top: -15px;
  }

  .form-inline {
    border: 1px solid lighten($color: lightgray, $amount: 8) ;
    width: auto !important;
    margin-bottom: 15px;
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;

    .form-group {
      padding: 10px;
      display: block !important;
      label {
        margin-right: 1px;
      }
      .checkmark {
        width: 20px !important;      
      }

      .form-control {
        max-width: 150px;
        // text-align: center;
      }

    }

    .small-group {
      max-width: 100px;
      .form-control {
        max-width: 70px;
      }
    }

    .large-group {
      // max-width: 100px;
      .form-control {
        min-width: unset;
        max-width: unset;
        width: 300px;
      }
    }

    .btn {
      margin-top: 15px;
    }
  }
}

.button_to {
  display: inline;
}

.site_visit_image {
  img {
    width: 100%;
  }
}

.close-icon {
  margin-top: 10px;  
  .filename {
    margin-top: 5px;
  }  
  .btn-sm {
    float: right !important;
    margin-right: 10px;
  }
}

table {
  .progress {
    width: 50% !important;
  }
}

#site_visit_completed_form, #step_completed_form {
  display: inline;
  width: fit-content;
  div, .form-control { 
    display: inline;
    width: fit-content;
   }
}

.inline_form {
  display: inline-block !important;
}

.sidebar-brand-icon {
  img {
    max-width: 60px;
  }
}

.attachment_list {
  list-style: none;
  margin-left: 0;
}

.project_card  {
  margin-bottom: 30px;
}