<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Phases</h1>
    <%= link_to "New Phase" , new_phase_path("phase[project_id]": @project.id), 
            {class: "btn btn-primary" } if @project %>
  </div>
  
  <div class="quick_entry">
    <%= render "/phases/quick_entry", phase: Phase.new(project_id: @project.id, start_date: Time.zone.today, days: 10) if @project %>
  </div>

  <div class="table-responsive">

    <table id="phases" class="table table-bordered dataTable jqDataTable">

      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Completed
          </th>
          <th>
            Start Date
          </th>
          <th>
            End Date
          </th>
          <th>
            Days
          </th>          
          <th>
            Status
          </th>
          <th>
            Assigned
          </th>
          <th>
            Client Visible
          </th>
          <th>
            Received
          </th>
          <th>
            Due %
          </th>
          <th>
            Due
          </th>
          

          <th>
          </th>
        </tr>
      </thead>

      <tbody id="phases_tbody">
        <% phases.each do |phase| %>
          <%= render phase %>
        <% end %>
      </tbody>
    </table>

  </div>