<div class="associated_entity" data-controller="tabs">
    <nav class="nav nav-tabs nav-fill nav-justified" role="tablist">
        <a class="nav-link active" data-bs-toggle="pill" data-toggle="tab" href="#steps-tab">Steps</a>
        <% if phase.payment_required %>
            <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#payments-tab">Payments</a>
        <% end %>
        <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#notes-tab">Notes</a>
    </nav>



    <div class="tab-content">
        <div id="steps-tab" class="tab-pane fade show active">
            <div id="steps" class="associated_entity">
                <%= render "/steps/index" , steps: phase.steps.order(start_date: :asc).includes(:assigned_to) %>
            </div>
        </div>
        <% if phase.payment_required %>
            <div id="payments-tab" class="tab-pane fade">
                <div id="payments" class="associated_entity">
                    <%= render "/payments/index", payments: phase.payments.includes(:project, :phase, :user) %>
                </div>
            </div>
        <% end %>
        <div id="notes-tab" class="tab-pane fade">
            <div id="notes" class="associated_entity">
                <%= render "/notes/index", notes: phase.notes.with_all_rich_text, owner: phase %>
            </div>
        </div>
    </div>

</div>