<div class="alert alert-danger reset_password_prompt">
    Please accept the   

    <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#termsModal">
        Terms and Conditions
    </a>

    of the site at earliest.

</div>