<ul>
    <% attachments.each do |file| %>
      <li>
        <%= link_to rails_blob_path(file, disposition: :attachment), class: "btn btn-sm btn-primary" do%>
          <i class="fas fa-download"></i>
          <%= file.filename.to_s.capitalize %>
        <% end %>
        <% if policy(file.record).update? %>
          <%= button_to delete_attachment_projects_path(attachment_id: file.id), class: "btn-sm btn-danger" do %>
            <i class="fas fa-trash-alt"></i>                
          <% end %>
        <% end %>
      </li>
      <% end %>
</ul>