
<!-- Terms Modal-->
<div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog terms_modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Terms & Conditions</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="">
                <div class="RAqDjf">
                    <div id="license" class="ahbJ5"></div>
                    <h2 class="vlUUMb">License</h2>
                    <p><a class="YfaGG" href="terms?hl=en-US#footnote-your-content" data-name="your-content"
                            jsaction="click:IPbaae(preventDefault=true)">Your content</a> remains yours, which means
                        that you retain any <a class="YfaGG" href="terms?hl=en-US#footnote-intellectual-property-rights"
                            data-name="intellectual-property-rights"
                            jsaction="click:IPbaae(preventDefault=true)">intellectual property rights</a> that you have
                        in your content. For example, you have intellectual property rights in the creative content you
                        make, such as reviews you write. Or you may have the right to share someone else’s creative
                        content if they’ve given you their permission.</p>
                    <p>We need your permission if your intellectual property rights restrict our use of your content.
                        You provide Google with that permission through this license.</p>
                    <div id="license-covered" class="ahbJ5"></div>
                    <h3>What’s covered</h3>
                    <p>This license covers <a class="YfaGG" href="terms?hl=en-US#footnote-your-content"
                            data-name="your-content" jsaction="click:IPbaae(preventDefault=true)">your content</a> if
                        that content is protected by intellectual property rights.</p>
                    <div id="license-not-covered" class="ahbJ5"></div>
                    <h3>What’s not covered</h3>
                    <ul>
                        <li>This license doesn’t affect your privacy rights — it’s only about your intellectual property
                            rights</li>
                        <li>This license doesn’t cover these types of content:<ul>
                                <li>publicly-available factual information that you provide, such as corrections to the
                                    address of a local business. That information doesn’t require a license because it’s
                                    considered common knowledge that everyone’s free to use.</li>
                                <li>feedback that you offer, such as suggestions to improve our services. Feedback is
                                    covered in the <em><a href="terms?hl=en-US#toc-service-related-comm">Service-related
                                            communications</a></em> section below.</li>
                            </ul>
                        </li>
                    </ul>
                    <div id="scope" class="ahbJ5"></div>
                    <h3>Scope</h3>
                    <div class="v7NWSe">This license is:<ul>
                            <li>worldwide, which means it’s valid anywhere in the world</li>
                            <li>non-exclusive, which means you can license your content to others</li>
                            <li>royalty-free, which means there are no monetary fees for this license</li>
                        </ul>
                    </div>
                    <div id="rights" class="ahbJ5"></div>
                    <h3>Rights</h3>
                    <p>This license allows Google to:</p>
                    <ul>
                        <li>host, reproduce, distribute, communicate, and use your content — for example, to save your
                            content on our systems and make it accessible from anywhere you go</li>
                        <li>publish, publicly perform, or publicly display your content, if you’ve made it visible to
                            others</li>
                        <li>modify and create derivative works based on your content, such as reformatting or
                            translating it</li>
                        <li>sublicense these rights to:<ul>
                                <li>other users to allow the services to work as designed, such as enabling you to share
                                    photos with people you choose</li>
                                <li>our contractors who’ve signed agreements with us that are consistent with these
                                    terms, only for the limited purposes described in the <em><a
                                            href="terms?hl=en-US#toc-purpose">Purpose</a></em> section below</li>
                            </ul>
                        </li>
                    </ul>
                    <div id="toc-purpose" class="ahbJ5"></div>
                    <h3>Purpose</h3>
                    <p>This license is for the limited purpose of:</p>
                    <ul>
                        <li><b>operating and improving the services</b>, which means allowing the services to work as
                            designed and creating new features and functionalities. This includes using automated
                            systems and algorithms to analyze your content:<ul>
                                <li>for spam and malware</li>
                                <li>to recognize patterns in data, such as determining when to suggest a new album in
                                    Google Photos to keep related photos together</li>
                                <li>to customize our services for you, such as providing recommendations and
                                    personalized search results, content, and ads (which you can change or turn off in
                                    <a href="https://adssettings.google.com?ref=ps-terms&amp;hl=en_US" class="N6CPUe"
                                        target="_blank">Ads Settings</a>)</li>
                            </ul>This analysis occurs as the content is sent, received, and when it is stored.</li>
                        <li><b>using content you’ve shared publicly to promote the services</b>. For example, to promote
                            a Google app, we might quote a review you wrote. Or to promote Google Play, we might show a
                            screenshot of the app you offer in the Play Store.</li>
                        <li><b>developing new technologies and services</b> for Google consistent with these terms</li>
                    </ul>
                    <div id="duration" class="ahbJ5"></div>
                    <h3>Duration</h3>
                    <p>This license lasts for as long as your content is protected by intellectual property rights.</p>
                    <p>If you remove from our services any content that’s covered by this license, then our systems will
                        stop making that content publicly available in a reasonable amount of time. There are two
                        exceptions:</p>
                    <ul>
                        <li>If you already shared your content with others before removing it. For example, if you
                            shared a photo with a friend who then made a copy of it, or shared it again, then that photo
                            may continue to appear in your friend’s Google Account even after you remove it from your
                            Google Account.</li>
                        <li>If you make your content available through other companies’ services, it’s possible that
                            search engines, including Google Search, will continue to find and display your content as
                            part of their search results.</li>
                    </ul>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <%= button_to "Accept" , accept_terms_users_path, class: "btn btn-primary" %>
            </div>
        </div>
    </div>
</div>